.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.Row-Color {
  color: black;
  background-color: white;
  animation: background-fade 5s;
  animation-duration: 5s;
}
@keyframes background-fade {
  0% {
    background: #65ff00;
  }
  100% {
    background: white;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Body-Border {
  padding: 20px 20px;
}
.Media-Card {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.Left-Card {
  flex: 2 1;
  margin-right: 20px;
}
.Right-Card {
  flex: 1 1;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.makeStyles-media-58 {
  margin-right: auto;
  margin-left: auto;
  height: 440px;
  width: 300px;
}